@font-face {
  font-family: 'dh font';
  src: url('../fonts/dh_view_fonts/iconfont.eot');
  src: url('../fonts/dh_view_fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/dh_view_fonts/iconfont.woff2') format('woff2'), url('../fonts/dh_view_fonts/iconfont.woff') format('woff'), url('../fonts/dh_view_fonts/iconfont.ttf') format('truetype'), url('../fonts/dh_view_fonts/iconfont.svg#iconfont') format('svg');
}
.dh-font {
  font-family: 'dh font';
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dh-quanping1:before {
  content: "\e66d";
}
.dh-eryanghuatan:before {
  content: "\e951";
}
.dh-eryanghualiu:before {
  content: "\e616";
}
.dh-licheng1:before {
  content: "\e64f";
}
.dh-gushumingmu:before {
  content: "\e614";
}
.dh-xiangzuo1:before {
  content: "\e601";
}
.dh-xiangyou:before {
  content: "\e600";
}
.dh-eye:before {
  content: "\e703";
}
@font-face {
  font-family: "zzgfjh";
  src: url("../fonts/zzgfjh_fonts/zzgfjh.eot");
  /* IE9 */
  src: url("../fonts/zzgfjh_fonts/zzgfjh.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/zzgfjh_fonts/zzgfjh.woff") format("woff"), /* chrome、firefox */ url("../fonts/zzgfjh_fonts/zzgfjh.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url("../fonts/zzgfjh_fonts/zzgfjh.svg#fonteditor") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "zzgfshct";
  src: url("../fonts/zzgfshct_fonts/zzgfshct.eot");
  /* IE9 */
  src: url("../fonts/zzgfshct_fonts/zzgfshct.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/zzgfshct_fonts/zzgfshct.woff") format("woff"), /* chrome、firefox */ url("../fonts/zzgfshct_fonts/zzgfshct.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */ url("../fonts/zzgfshct_fonts/zzgfshct.svg#fonteditor") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
body {
  position: relative;
  font-family: "Microsoft YaHei";
}
#main {
  height: 1080px !important;
  width: 1920px !important;
  position: relative;
}
#cloud1 {
  z-index: 1;
  position: absolute;
  top: -735px;
  left: -1100px;
}
#cloud2 {
  z-index: 2;
  position: absolute;
  top: 1100px;
  left: -1000px;
}
#cloud3 {
  z-index: 3;
  position: absolute;
  top: -1150px;
  left: 1800px;
}
#cloud4 {
  z-idex: 4;
  position: absolute;
  top: 1100px;
  left: 1940px;
}
#view_left {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 10;
  padding-top: 133px;
  padding-bottom: 13px;
  padding-left: 70px;
  padding-right: 0px;
  margin-bottom: 0px;
  width: 550px;
  height: 1053px;
  background: url(../images/dh-view.png) no-repeat center;
  background-position-x: -14px;
  background-position-y: -12px;
}
#view_left li.left-li1 {
  height: 264px;
  width: 481px;
  margin-bottom: 44px;
}
#view_left li.left-li1 > p.li1-p1 {
  height: 92px;
  line-height: 92px;
  margin-left: 45px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_left li.left-li1 > p.li1-p2 {
  height: 109px;
  line-height: 99px;
  margin-left: 45px;
  font-family: "zzgfjh", "Microsoft YaHei";
  font-size: 70px;
  font-weight: 500;
  color: #f29600;
  margin-bottom: 0px;
}
#view_left li.left-li1 > p.li1-p3 > .li1-p3-span1 {
  height: 63px;
  line-height: 63px;
  margin-left: 45px;
  font-family: "Microsoft YaHei", "Microsoft YaHei";
  font-size: 16px;
  font-weight: 600;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_left li.left-li1 > p.li1-p3 > .li1-p3-span2 {
  height: 63px;
  line-height: 63px;
  margin-left: 45px;
  font-family: "Microsoft YaHei", "Microsoft YaHei";
  font-size: 16px;
  font-weight: 600;
  color: #05ecfb;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 58px;
}
#view_left li.left-li2 {
  position: relative;
  height: 264px;
  width: 481px;
  margin-bottom: 44px;
}
#view_left li.left-li2 > p.li2-p1 {
  position: absolute;
  height: 72px;
  line-height: 72px;
  margin-left: 45px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_left li.left-li2 > #left-li2-chart-div {
  height: 100%;
  width: 100%;
}
#view_left li.left-li2 > .chart-toggle-menu {
  position: absolute;
  top: 20px;
  left: 170px;
}
#view_left li.left-li2 > .chart-toggle-menu > .menu-title {
  position: relative;
  height: 30px;
  line-height: 30px;
  width: 80px;
  cursor: pointer;
  background-color: #27bbee;
  border-radius: 30px;
  font-size: 12px;
  color: white;
  margin-top: 3px;
  text-align: center;
  z-index: 10;
}
#view_left li.left-li2 > .chart-toggle-menu > ul {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 9;
  width: 80px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #004c58;
  opacity: 0.9;
}
#view_left li.left-li2 > .chart-toggle-menu > ul > li {
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 12px;
  display: block;
}
#view_left li.left-li2 > .chart-toggle-menu > ul > li:hover {
  background: #05ecfb;
  border-radius: 12px;
}
#view_left li.left-li2 > .chart-toggle-menu > ul > li > span {
  display: block;
  font-size: 12px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
#view_left li.left-li2 > .detail-btn {
  position: absolute;
  top: 12%;
  right: 4%;
  cursor: pointer;
  font-size: 20px;
}
#view_left li.left-li2 > .detail-btn > i {
  display: block;
  text-align: center;
  color: #27bbee;
}
#view_left li.left-li2 > .detail-btn > i:hover {
  color: #05ecfb;
}
#view_left li.left-li2 > .detail-btn > span {
  font-size: 12px;
  color: #05ecfb;
}
#view_left li.left-li3 {
  position: relative;
  height: 264px;
  width: 481px;
  margin-bottom: 44px;
}
#view_left li.left-li3 > p.li3-p1 {
  position: absolute;
  height: 72px;
  line-height: 72px;
  margin-left: 45px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_left li.left-li3 > #left-li3-chart-div {
  height: 100%;
  width: 100%;
}
#view_left li.left-li3 > .chart-toggle-menu {
  position: absolute;
  top: 20px;
  left: 170px;
}
#view_left li.left-li3 > .chart-toggle-menu > .menu-title {
  position: relative;
  height: 30px;
  line-height: 30px;
  width: 80px;
  cursor: pointer;
  background-color: #27bbee;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  margin-top: 3px;
  text-align: center;
  z-index: 10;
}
#view_left li.left-li3 > .chart-toggle-menu > ul {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 9;
  width: 80px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #004c58;
  opacity: 0.9;
}
#view_left li.left-li3 > .chart-toggle-menu > ul > li {
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 12px;
  display: block;
}
#view_left li.left-li3 > .chart-toggle-menu > ul > li:hover {
  background: #05ecfb;
  border-radius: 12px;
}
#view_left li.left-li3 > .chart-toggle-menu > ul > li > span {
  display: block;
  font-size: 12px;
  -webkit-transform: scale(1);
          transform: scale(1);
}
#view_left li.left-li3 > .detail-btn {
  position: absolute;
  top: 12%;
  right: 4%;
  cursor: pointer;
  font-size: 20px;
}
#view_left li.left-li3 > .detail-btn > i {
  display: block;
  text-align: center;
  color: #27bbee;
}
#view_left li.left-li3 > .detail-btn > i:hover {
  color: #05ecfb;
}
#view_left li.left-li3 > .detail-btn > span {
  font-size: 12px;
  color: #05ecfb;
}
#view_top {
  position: absolute;
  top: 25px;
  left: 564px;
  z-index: 10;
  width: 792px;
  height: 272px;
  background: url(../images/dh-view.png) no-repeat center;
  background-position-x: -564px;
  background-position-y: -25px;
}
#view_top > p {
  height: 98px;
  line-height: 98px;
  margin-left: 0px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 35px;
  font-weight: 500;
  color: #f29600;
  margin-bottom: 0px;
  text-align: center;
}
#view_top > ul {
  margin-top: 22px;
  margin-left: 35px;
  margin-right: 38px;
}
#view_top > ul > li.top-li1 {
  width: 327px;
  height: 154px;
}
#view_top > ul > li.top-li1 > p.li1-p1 {
  height: 67px;
  line-height: 92px;
  margin-left: 0px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
  text-align: center;
}
#view_top > ul > li.top-li1 > p.li1-p1 > span {
  font-size: 17px;
}
#view_top > ul > li.top-li1 > p.li1-p2 {
  height: 84px;
  line-height: 70px;
  margin-left: 0px;
  font-family: "zzgfjh", "Microsoft YaHei";
  font-size: 46px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
  text-align: center;
}
#view_top > ul > li.top-li2 {
  width: 327px;
  height: 154px;
}
#view_top > ul > li.top-li2 > p.li2-p1 {
  height: 67px;
  line-height: 92px;
  margin-left: 0px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
  text-align: center;
}
#view_top > ul > li.top-li2 > p.li2-p1 > span {
  font-size: 17px;
}
#view_top > ul > li.top-li2 > p.li2-p2 {
  height: 84px;
  line-height: 70px;
  margin-left: 0px;
  font-family: "zzgfjh", "Microsoft YaHei";
  font-size: 46px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
  text-align: center;
}
#view_bottom {
  position: absolute;
  top: 992px;
  left: 564px;
  z-index: 10;
  width: 792px;
  height: 34px;
  background: url(../images/dh-view.png) no-repeat center;
  background-position-x: -564px;
  background-position-y: -992px;
  padding-left: 112px;
  padding-right: 112px;
}
#view_bottom > ul {
  position: relative;
  top: -37px;
  margin-bottom: 0px;
}
#view_bottom > ul > li {
  width: 24%;
  position: relative;
  padding-left: 46px;
}
#view_bottom > ul > li > i {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 36px;
  color: #05ecfb;
}
#view_bottom > ul > li > ul > li.bottom-li-title {
  color: #05ecfb;
  border-bottom: 2px solid #05ecfb;
}
#view_bottom > ul > li > ul > li.bottom-li-content {
  color: #05ecfb;
}
#view_right {
  position: absolute;
  top: 12px;
  left: 1356px;
  z-index: 10;
  padding-top: 133px;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-right: 70px;
  margin-bottom: 0px;
  width: 551px;
  height: 1053px;
  background: url(../images/dh-view.png) no-repeat center;
  background-position-x: -1356px;
  background-position-y: -12px;
}
#view_right li.right-li1 {
  position: relative;
  height: 264px;
  width: 481px;
  margin-bottom: 44px;
}
#view_right li.right-li1 > p.li1-p1 {
  position: absolute;
  height: 72px;
  line-height: 72px;
  margin-left: 45px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_right li.right-li1 > #right-li1-chart-div {
  height: 100%;
  width: 100%;
}
#view_right li.right-li1 > .chart-toggle-menu {
  position: absolute;
  top: 20px;
  left: 300px;
}
#view_right li.right-li1 > .chart-toggle-menu > .menu-title {
  position: relative;
  height: 30px;
  line-height: 30px;
  width: 80px;
  cursor: pointer;
  background-color: #27bbee;
  border-radius: 30px;
  font-size: 12px;
  color: white;
  margin-top: 3px;
  text-align: center;
  z-index: 10;
}
#view_right li.right-li1 > .chart-toggle-menu > ul {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 9;
  width: 80px;
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #004c58;
  opacity: 0.9;
}
#view_right li.right-li1 > .chart-toggle-menu > ul > li {
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  color: white;
  opacity: 0.8;
  font-size: 12px;
  display: block;
}
#view_right li.right-li1 > .chart-toggle-menu > ul > li:hover {
  background: #05ecfb;
  border-radius: 12px;
}
#view_right li.right-li1 > .chart-toggle-menu > ul > li > span {
  display: block;
  font-size: 12px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
#view_right li.right-li1 > .detail-btn {
  position: absolute;
  top: 12%;
  right: 4%;
  cursor: pointer;
  font-size: 20px;
}
#view_right li.right-li1 > .detail-btn > i {
  display: block;
  text-align: center;
  color: #27bbee;
}
#view_right li.right-li1 > .detail-btn > i:hover {
  color: #05ecfb;
}
#view_right li.right-li1 > .detail-btn > span {
  font-size: 12px;
  color: #05ecfb;
}
#view_right li.right-li2 {
  position: relative;
  height: 264px;
  width: 481px;
  margin-bottom: 44px;
}
#view_right li.right-li2 > p.li2-p1 {
  position: absolute;
  height: 72px;
  line-height: 72px;
  margin-left: 45px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_right li.right-li2 > #right-li2-chart-div {
  height: 100%;
  width: 100%;
}
#view_right li.right-li2 > .detail-btn {
  position: absolute;
  top: 12%;
  right: 4%;
  cursor: pointer;
  font-size: 20px;
}
#view_right li.right-li2 > .detail-btn > i {
  display: block;
  text-align: center;
  color: #27bbee;
}
#view_right li.right-li2 > .detail-btn > i:hover {
  color: #05ecfb;
}
#view_right li.right-li2 > .detail-btn > span {
  font-size: 12px;
  color: #05ecfb;
}
#view_right li.right-li3 {
  height: 264px;
  width: 481px;
  margin-bottom: 44px;
}
#view_right li.right-li3 > p.li3-p1 {
  height: 60px;
  line-height: 60px;
  margin-left: 45px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #05ecfb;
  margin-bottom: 0px;
}
#view_right li.right-li3 ul.li3-list {
  padding-left: 21px;
  padding-right: 21px;
}
#view_right li.right-li3 ul.li3-list > .list-title > ul {
  border-bottom: 2px solid #05ecfb;
  margin-bottom: 12px;
}
#view_right li.right-li3 ul.li3-list > .list-title > ul > li {
  color: #05ecfb;
  width: 30%;
  text-align: center;
  font-size: 16px;
}
#view_right li.right-li3 ul.li3-list > .list-title > ul > li:nth-child(1) {
  min-width: 33%;
}
#view_right li.right-li3 ul.li3-list > .list-content {
  height: 156px;
  overflow: hidden;
}
#view_right li.right-li3 ul.li3-list > .list-content > ul {
  height: 156px;
  margin-top: 1px;
  margin-bottom: 1px;
  overflow: hidden;
}
#view_right li.right-li3 ul.li3-list > .list-content > ul > li.list-tr {
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}
#view_right li.right-li3 ul.li3-list > .list-content > ul > li.list-tr:hover {
  background-color: #27bbee;
}
#view_right li.right-li3 ul.li3-list > .list-content > ul > li.list-tr:hover > ul > li {
  color: white;
}
#view_right li.right-li3 ul.li3-list > .list-content > ul > li.list-tr > ul > li {
  color: #05ecfb;
  width: 30%;
  text-align: center;
  font-size: 14px;
}
#view_right li.right-li3 ul.li3-list > .list-content > ul > li.list-tr > ul > li:nth-child(1) {
  min-width: 33%;
}
#order_list_modal {
  padding-left: 0px;
}
#order_list_modal > .modal-dialog {
  padding-top: 30px;
  width: 1570px;
}
#order_list_modal .modal-content {
  width: 1570px;
  height: 877px;
  background: url(../images/dh-order-list-modal.png) no-repeat center;
  background-position: -175px -99px;
  margin-left: 50%;
  left: -785px;
}
#order_list_modal .modal-content > .modal-header {
  padding: 0px;
  border-bottom: none;
}
#order_list_modal .modal-content > .modal-header > p {
  height: 92px;
  line-height: 122px;
  margin-left: 0px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #f29600;
  margin-bottom: 0px;
  text-align: center;
}
#order_list_modal .order-list-modal-body {
  margin: 34px 253px 106px 253px;
  padding: 25px 124px;
}
#order_list_modal .order-list-modal-body > table {
  width: 100%;
}
#order_list_modal .order-list-modal-body > table > thead th {
  font-size: 18px;
  font-weight: 550;
  color: #05ecfb;
  border-bottom: 2px solid #27bbee;
  text-align: center;
}
#order_list_modal .order-list-modal-body > table > tbody td {
  font-size: 14px;
  color: #82bcc8;
  border-top: none;
  text-align: center;
}
#order_list_modal .order-list-modal-body > table > tbody td {
  border-bottom: 1px solid #82bcc8;
  color: #05ecfb;
}
#order_list_modal .modal-toggle-btn-left {
  position: absolute;
  top: 412px;
  left: 190px;
  overflow: hidden;
  cursor: pointer;
  width: 20px;
  height: 32px;
}
#order_list_modal .modal-toggle-btn-left > i {
  position: absolute;
  top: 0px;
  left: -9px;
  vertical-align: middle;
  color: #27bbee;
  font-size: 36px;
}
#order_list_modal .modal-toggle-btn-left > i:hover {
  color: #05ecfb;
}
#order_list_modal .modal-toggle-btn-right {
  position: absolute;
  top: 412px;
  left: 1368px;
  overflow: hidden;
  cursor: pointer;
  width: 20px;
  height: 32px;
}
#order_list_modal .modal-toggle-btn-right > i {
  position: absolute;
  top: 0px;
  left: -9px;
  vertical-align: middle;
  color: #27bbee;
  font-size: 36px;
}
#order_list_modal .modal-toggle-btn-right > i:hover {
  color: #05ecfb;
}
#component_watch_modal {
  padding-left: 0px;
}
#component_watch_modal > .modal-dialog {
  padding-top: 30px;
  width: 1570px;
}
#component_watch_modal .modal-content {
  width: 1570px;
  height: 877px;
  background: url(../images/dh-intel-chart.png) no-repeat center;
  background-position: -175px -99px;
  margin-left: 50%;
  left: -785px;
}
#component_watch_modal .modal-content > .modal-header {
  padding: 0px;
  border-bottom: none;
}
#component_watch_modal .modal-content > .modal-header > p {
  height: 92px;
  line-height: 122px;
  margin-left: 0px;
  font-family: "zzgfshct", "Microsoft YaHei";
  font-size: 30px;
  font-weight: 500;
  color: #f29600;
  margin-bottom: 0px;
  text-align: center;
}
#component_watch_modal .component_watch-modal-body {
  margin: 34px 253px 106px 253px;
  padding: 0px 0px;
  margin-left: 264px;
}
#component_watch_modal .component_watch-modal-body > .body-form {
  height: 104px;
  border: 1px solid;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 66px;
}
#component_watch_modal .component_watch-modal-body > .body-form > div:nth-child(1) {
  margin-right: 20px;
}
#component_watch_modal .component_watch-modal-body > .body-form > div:nth-child(2) {
  padding-left: 20px;
  border-left: 2px solid #05ecfb;
}
#component_watch_modal .component_watch-modal-body > .body-form > div > label {
  color: #05ecfb;
  font-size: 17px;
  margin-right: 10px;
  font-weight: 530;
}
#component_watch_modal .component_watch-modal-body > .body-form > div > select {
  min-width: 150px;
  background-color: #032833;
  border: 1px solid #05ecfb;
  color: #05ecfb;
}
#component_watch_modal .component_watch-modal-body > .body-form > div > select > option {
  background-color: #032833;
}
#component_watch_modal .component_watch-modal-body > .body-content {
  height: 408px;
  border: 1px solid;
  margin-left: 69px;
  margin-right: 20px;
}
#component_watch_modal .modal-toggle-btn-left {
  position: absolute;
  top: 412px;
  left: 190px;
  overflow: hidden;
  cursor: pointer;
  width: 20px;
  height: 32px;
}
#component_watch_modal .modal-toggle-btn-left > i {
  position: absolute;
  top: 0px;
  left: -9px;
  vertical-align: middle;
  color: #27bbee;
  font-size: 36px;
}
#component_watch_modal .modal-toggle-btn-left > i:hover {
  color: #05ecfb;
}
#component_watch_modal .modal-toggle-btn-right {
  position: absolute;
  top: 412px;
  left: 1368px;
  overflow: hidden;
  cursor: pointer;
  width: 20px;
  height: 32px;
}
#component_watch_modal .modal-toggle-btn-right > i {
  position: absolute;
  top: 0px;
  left: -9px;
  vertical-align: middle;
  color: #27bbee;
  font-size: 36px;
}
#component_watch_modal .modal-toggle-btn-right > i:hover {
  color: #05ecfb;
}
.visible-not {
  visibility: hidden !important;
}
#screenFull {
  position: absolute;
  bottom: 0px;
  right: 75px;
  height: 17px;
  width: 20px;
  line-height: 18px;
  text-align: center;
  /* background-color: red; */
  border: 1px solid ;
  border-radius: 3px;
  border-color: #004c58;
  z-index: 99;
}
#screenFull:hover {
  border-color: #05ecfb;
}
#screenFull > span {
  color: #004c58;
  font-size: 16px;
}
#screenFull > span:hover {
  color: #05ecfb;
}
/*# sourceMappingURL=./main.css.map */