body {
    position: relative;
    // overflow-x: hidden;
    // overflow-y: hidden;
    font-family: @font-yahei;
}

#main {
    height: 1080px !important;
    width: 1920px !important;
}

#view_left {
    .outer-ul(12px, 14px,550px, 70px,0px,-14px, -12px);
    li.left-li1 {
        .outer-ul-li();
        &>p.li1-p1 {
            .view-p(92px, 92px, 45px, @font-zzgfshct, @size-md, 500, @color-navy)
        };
        &>p.li1-p2 {
            .view-p(109px, 99px, 45px, @font-zzgfjh, @size-lg, 500, @color-yellow)
        };
        &>p.li1-p3 {
            &>.li1-p3-span1 {
                .view-p(63px, 63px, 45px, @font-yahei, @size-sm, 600, @color-navy);
            };
            &>.li1-p3-span2 {
                .view-p(63px, 63px, 45px, @font-yahei, @size-sm, 600, @color-navy);
                margin-left: 0px;
                margin-right: 58px;
            };
        };
    }
    li.left-li2 {
        position: relative;
        .outer-ul-li();
        &>p.li2-p1 {
            position: absolute;
            .view-p(72px, 72px, 45px, @font-zzgfshct, @size-md, 500, @color-navy)
        };
        &>#left-li2-chart-div {
            .chart-div()
        };
        &>.chart-toggle-menu {
            .chart-menu(20px, 170px);
            &>.menu-title {
                .chart-menu-title(30px, 30px, 80px, @color-mid-navy, 30px, 12px, white, 3px, 10);
            };
            &>ul {
                .chart-menu-ul(20px, 0px, @color-high-navy, 0.9);
                opacity: 0.9;
                &>li {
                    .chart-menu-ul-li(white, @color-navy);
                    &>span {
                        .font-scale(scale(0.8));
                    }
                }
            }
        }
        &>.detail-btn {
            .chart-detai-btn(12%, 4%);
        }
    }
    li.left-li3 {
        position: relative;
        .outer-ul-li();
        &>p.li3-p1 {
            position: absolute;
            .view-p(72px, 72px, 45px, @font-zzgfshct, @size-md, 500, @color-navy)
        };
        &>#left-li3-chart-div {
            .chart-div()
        };
        &>.chart-toggle-menu {
            .chart-menu(20px, 170px);
            &>.menu-title {
                .chart-menu-title(30px, 30px, 80px, @color-mid-navy, 30px, 16px, white, 3px, 10);
            };
            &>ul {
                .chart-menu-ul(20px, 0px, @color-high-navy, 0.9);
                opacity: 0.9;
                &>li {
                    .chart-menu-ul-li(white, @color-navy);
                    &>span {
                        .font-scale(scale(1));
                    }
                }
            }
        }
        &>.detail-btn {
            .chart-detai-btn(12%, 4%);
        }
    }
}

#view_top{
    .absolute-block(25px,564px,792px,272px,@img-view,-564px,-25px);
    &>p{
        .view-p(98px, 98px, 0px, @font-zzgfshct, 35px, 500, @color-yellow);
        text-align:center;
    };
    &>ul{
        // border: 1px solid;
        margin-top: 22px;
        margin-left: 35px;
        margin-right: 38px;
        &>li.top-li1{
            width: 327px;
            height: 154px;
            // border: 1px solid;
            &>p.li1-p1{
                .view-p(67px, 92px, 0px, @font-zzgfshct, @size-md, 500, @color-navy);
                text-align:center;
                &>span{
                    font-size: 17px;
                }
            };
            &>p.li1-p2{
                .view-p(84px, 70px, 0px, @font-zzgfjh, 46px, 500, @color-navy);
                text-align: center;
            };
        }
        &>li.top-li2{
            width: 327px;
            height: 154px;
            // border: 1px solid;
            &>p.li2-p1{
                .view-p(67px, 92px,0px, @font-zzgfshct, @size-md, 500, @color-navy);
                text-align:center;
                &>span{
                    font-size: 17px;
                }
            };
            &>p.li2-p2{
                .view-p(84px, 70px, 0px, @font-zzgfjh, 46px, 500, @color-navy);
                text-align: center;
            };
        }
    }
}

#view_bottom{
    .absolute-block(992px,564px,792px,34px,@img-view,-564px,-992px);
    padding-left: 112px;
    padding-right: 112px;
    &>ul{
        position: relative;
        top: -37px;
        margin-bottom: 0px;
        &>li{
            width: 24%;
            position: relative;
            padding-left: 46px;
            // border: 1px solid red;
            &>i{
                position: absolute;
                top: 2px;
                left: 2px;
                font-size: 36px;
                color: @color-navy;
            };
            &>ul{
                &>li.bottom-li-title{
                    color: @color-navy;
                    border-bottom: 2px solid @color-navy;
                };
                &>li.bottom-li-content{
                    color: @color-navy;
                };

            }
        }
    }
}

#view_right{
    .outer-ul(12px , 1356px,551px ,0px,70px,-1356px, -12px);
    li.right-li1{
        position: relative;
        .outer-ul-li();
        &>p.li1-p1 {
            position: absolute;
            .view-p(72px, 72px, 45px, @font-zzgfshct, @size-md, 500, @color-navy)
        };
        &>#right-li1-chart-div {
            .chart-div();
            // bug this block won't inherit from its parent'height;so the chart won't render
            // height: 264px;
        };
        &>.chart-toggle-menu {
            .chart-menu(20px, 300px);
            &>.menu-title {
                .chart-menu-title(30px, 30px, 80px, @color-mid-navy, 30px, 12px, white, 3px, 10);
            };
            &>ul {
                .chart-menu-ul(20px, 0px, @color-high-navy, 0.9);
                opacity: 0.9;
                &>li {
                    .chart-menu-ul-li(white, @color-navy);
                    &>span {
                        .font-scale(scale(0.8));
                    }
                }
            }
        }
        &>.detail-btn {
            .chart-detai-btn(12%, 4%);
        }
    };
    li.right-li2{
        position: relative;
        .outer-ul-li();
        &>p.li2-p1 {
            position: absolute;
            .view-p(72px, 72px, 45px, @font-zzgfshct, @size-md, 500, @color-navy)
        };
        &>#right-li2-chart-div {
            .chart-div();
        };
        &>.detail-btn {
            .chart-detai-btn(12%, 4%);
        }
    };
    li.right-li3{
        .outer-ul-li();
        &>p.li3-p1 {
            .view-p(60px, 60px, 45px, @font-zzgfshct, @size-md, 500, @color-navy)
        };
        // &>.right-table{
        //     padding-left: 21px;
        //     padding-right: 21px;
        //     &>table{
        //         .view-table(15px, 510, 12px); 
        //         & tbody{
        //             height: 440px;
        //             overflow: hidden;
        //             & tr{
        //                 height: 26px;
        //                 cursor: pointer;
        //                 &:hover{
        //                     &>td{
        //                         color: @color-navy;
        //                     }
        //                 };
        //                 &>td{
        //                     color: @color-navy;
        //                     // border-bottom: 1px solid @color-table-border-color;
        //                 }
        //             }
        //         } 
        //     };
        // };
        & ul.li3-list{
            padding-left: 21px;
            padding-right: 21px;
            // background-color: gray;
            // height: 140px;
            // overflow: hidden;
            &>.list-title{
                &>ul{
                    border-bottom: 2px solid @color-navy;
                    margin-bottom: 12px;
                    &>li{
                        color: @color-navy;
                        width: 30%;
                        text-align: center;
                        font-size: 16px;
                        
                        &:nth-child(1){
                            min-width: 33%;
                        }
                    }
                }
            }
            &>.list-content{
                height: 156px;
                overflow: hidden;
                
                &>ul{
                    height: 156px;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    overflow: hidden;
                    &>li.list-tr{
                        height: 26px;
                        line-height: 26px;
                        cursor: pointer;
                        &:hover{
                            background-color: @color-mid-navy;
                            &>ul{
                                &>li{
                                    color: white;
                                }
                            }
                        }
                        &>ul{
                            &>li{
                                color: @color-navy;
                                width: 30%;
                                text-align: center;
                                font-size: 14px;
                                
                                &:nth-child(1){
                                    min-width: 33%;
                                }
                            }
                        }
                    }
                }
            }
        }

    };
};



#order_list_modal {
    .view-modal(30px, 1570px, 877px, @img-order-list-modal, -175px, -99px);

    & .order-list-modal-body {
        .view-modal-body(25px, 124px);
        &>table {
            .view-table(18px, 550, 14px);
            &>tbody{
                & td{
                    border-bottom: 1px solid @color-table-border-color;
                    color: @color-navy;
                }
            }
        }
    };
    & .modal-toggle-btn-left {
        .view-modal-content-toggle-btn(190px);
    };
    & .modal-toggle-btn-right {
        .view-modal-content-toggle-btn(1368px);
    };
}


#component_watch_modal{
    .view-modal(30px, 1570px, 877px,@img-intel-chart-modal, -175px, -99px);
    & .component_watch-modal-body {
        .view-modal-body(0px, 0px);
        margin-left: 264px;
        &>.body-form{
            height: 104px;
            border: 1px solid;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 66px;
            &>div:nth-child(1){
                margin-right: 20px;
            };
            &>div:nth-child(2){
                padding-left: 20px;
                border-left: 2px solid @color-navy;
            };
            &>div{
                &>label{
                    color: @color-navy;
                    font-size: 17px;
                    margin-right: 10px;
                    font-weight: 530;
                };
                &>select{
                    min-width: 150px;
                    background-color: @color-component-bgc;
                    border: 1px solid @color-navy;
                    color: @color-navy;
                    &>option{
                        background-color: @color-component-bgc;
                    }
                }
            }
        };
        &>.body-content{
            height: 408px;
            border: 1px solid;
            margin-left: 69px;
            margin-right: 20px;
            
            // background-color: wheat;
            // opacity: 0.5;
        }
    };
    & .modal-toggle-btn-left {
        .view-modal-content-toggle-btn(190px);
    };
    & .modal-toggle-btn-right {
        .view-modal-content-toggle-btn(1368px);
    };
}



// js utilities

.visible-not{
    visibility: hidden !important;
}

#screenFull{
    position: absolute;
    bottom: 0px;
    right: 75px;
    height: 17px;
    width: 20px;
    
    line-height: 18px;
    text-align: center;
    /* background-color: red; */
    border: 1px solid ;
    border-radius: 3px;
    border-color: @color-high-navy;

    z-index: 99;
    &:hover{
        border-color: @color-navy;
    }
    &>span{
        color: @color-high-navy;
        font-size: 16px;
        &:hover{
            color: @color-navy;
        }
    }
}
// "visibility","visible"