

.outer-ul(@top,@left,@bgk-x,@bgk-y){
    position: absolute;
    top: @top;
    left: @left;
    padding-top: 145px;
    padding-bottom:13px; 
    padding-left: 83px;
    margin-bottom: 0px;
    width: 564px;
    height: 1081px;
    background: url(../images/dh-view.png) no-repeat center;
    // background-position: 0px 0px;
    background-position-x: @bgk-x;
    background-position-y: @bgk-y;
}

.outer-ul-li(){
    height: 264px;
    width: 481px;
    margin-bottom: 44px;
    // background-color: @color-navy;
    border: 1px solid gray;
}

.view-p(@height,@line-height,@padding-left,@font-family,@font-size,@font-weight,@color){
    height: @height;
    line-height: @line-height;
    padding-left: @padding-left;
    font-family: @font-family,@font-yahei;
    font-size: @font-size;
    font-weight: @font-weight;
    color: @color;
    margin-bottom: 0px;
}

.chart-div(){
    height: 192px;
    width: 100%;
}

.chart-menu(@menu-top,@menu-left){
    position: absolute;
    top: @menu-top;
    left: @menu-left;
}

.chart-menu-title(@height,@line-height,@width,@background-color,@border-radius,@font-size,@color,@margin-top,@z-index){
    position: relative;
    height: @height;
    line-height: @line-height;
    width: @width;
    cursor: pointer;
    background-color: @background-color;
    border-radius:@border-radius;
    font-size: @font-size;
    color: @color;
    margin-top: @margin-top;
    text-align: center;
    z-index: @z-index;
}

.chart-menu-ul(@top,@right,@z-index,@width,@padding-top,@padding-right,@padding-bottom,@padding-left,@border-bottom-left-radius,@border-bottom-right-radius,@background-color,@opacity){
    position: absolute;
    top: @top;
    right: @right;
    z-index: @z-index;
    width: @width;
    padding-top: @padding-top;
    padding-right: @padding-right;
    padding-bottom: @padding-bottom;
    padding-left : @padding-left;
    
    border-bottom-left-radius: @border-bottom-left-radius;
    border-bottom-right-radius: @border-bottom-right-radius;
    background-color: @background-color;
    opacity: @opacity;
   
}

.chart-menu-ul-li(@height,@line-height,@color,@font-size){
    height: @height;
    padding-right: 9px;

    cursor: pointer;
    line-height: @line-height;

    text-align: center;
    // text-indent: 8px;
    color: @color;
    font-size: 12px;
    -webkit-transform:scale(0.8);
    display: block;
}




