//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/dh_view_fonts/";
//** File name for all font files.
@icon-font-name:          "iconfont";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "iconfont";

// @{icon-font-path}@{icon-font-name}

@zzgfjh-font-path:          "../fonts/zzgfjh_fonts/";
@zzgfjh-font-name:          "zzgfjh";
@zzgfjh-font-svg-id:        "fonteditor";

// @{zzgfjh-font-path}@{zzgfjh-font-name}

@zzgfshct-font-path:          "../fonts/zzgfshct_fonts/";
@zzgfshct-font-name:          "zzgfshct";
@zzgfshct-font-svg-id:        "fonteditor";

// @{zzgfshct-font-path}@{zzgfshct-font-name}

// font-family

// have no use code like below,just set body tag defult family 'YaHei',when charactor can't find in specify family , it would use body's family;
// @font-zzgfjh: "zzgfjh" ,"Microsoft YaHei";

@font-zzgfjh: "zzgfjh";
@font-zzgfshct: "zzgfshct";
@font-yahei: "Microsoft YaHei";

// image path
@img-order-list-modal : url(../images/dh-order-list-modal.png);
@img-list-modal : url(../images/dh-list-modal.png);
@img-intel-chart-modal :url(../images/dh-intel-chart.png);
@img-spirit: url(../images/dh-spirit.png);
@img-view: url(../images/dh-view.png);


// font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;

// font-size
@size-lg:70px;
@size-md:30px;
@size-sm:16px;
@size-xs:12px;
// @size-title:12px;

// 45px 

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@color-yellow:            rgb(242,150,0);
@color-navy:               rgb(5,236,251);
@color-mid-navy:            rgb(39,187,238);
@color-high-navy:           rgb(0,76,88);
@color-opacity-high-navy:   rgb(0,76,88,0.8);
@color-table-border-color:   rgb(130,188,200);




