//== Iconography
//
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "../fonts/dh_view_fonts/";
//** File name for all font files.
@icon-font-name:          "iconfont";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "iconfont";


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@color-yellow:            rgb(242,150,0);
@color-navy:               rgb(5,236,251);
@color-high-navy:           rgb(0,76,88);


