@font-face {
    font-family: "zzgfshct";
    src: url("zzgfshct.eot"); /* IE9 */
    src: url("zzgfshct.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("zzgfshct.woff") format("woff"), /* chrome、firefox */
    url("zzgfshct.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("zzgfshct.svg#zzgfshct") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


